# R

.Rhistory
.RData
.Ruserdata
.Rproj.user/

# renv cache

renv/library/
renv/staging/

# Sequencing files

*.fastq
*.fastq.gz
*.fq
*.fq.gz

# Alignment files

*.bam
*.sam
*.bai

# Quantification outputs

*.ctab
*.genes.results
*.isoforms.results

# Large files

*.tar
*.tar.gz
*.zip

# Results

results/*
!results/README.md

# Input data

input/*
!input/README.md

# Figures

*.png
*.jpg
*.jpeg
*.pdf

# Temporary

tmp/
temp/

